/* daotao-sinhvien */
.app__daotao-sinhvien {
    padding: 50px 0;
    position: relative;
    background-color: antiquewhite;
}
#app__daotao-sinhvien-backgroundImg{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -999;
    filter: blur(10px);
}
.app__daotao-sinhvien-wrapper {
    display: flex;
    justify-content: space-between;
}
@media screen and (min-width:960px){
    .app__daotao-sinhvien-item, .app__daotao-sinhvien-poster{
        width: 24%;
        margin: 0 20px;
    }
}

@media screen and (max-width:960px) {
    .app__daotao-sinhvien-wrapper{
        flex-direction: column;
    }
    .app__daotao-sinhvien-item, .app__daotao-sinhvien-poster{
        width: 60%;
        margin-left: 20%;
        margin-top: 5%;
    }
    .app__daotao-sinhvien-shadow{
        display: none;
    }
}

.app__daotao-sinhvien-item {
    position: relative;
    
    background-color: white;
    transition: all 0.5s ease;
}
.app__daotao-sinhvien-shadow{
    width: 260px;
    height: 423px;
    top: 2%;
    left: 3%;
    background-color: rgba(153, 153, 153, 0.445);
    position: absolute;
    z-index: -1;
}
.app__daotao-sinhvien-item:hover{
    cursor: pointer;
}
.app__daotao-sinhvien-item:hover .app__daotao-sinhvien-content h3{
    color: var(--primary-color);
    cursor: pointer;
}
.app__daotao-sinhvien-text {
    margin-bottom: 50px;
    text-align: center;
}

.app__daotao-sinhvien-text h2 {
    font-size: var(--title-size);
    text-decoration: none;
    border-bottom: 4px solid var(--primary-color);
    padding: 0 0 10px;
    color: var(--primary-color);

}
 
.app__daotao-sinhvien-img img {
    width: 100%;
    height: 200px;
}

.app__daotao-sinhvien-content h3{
    font-size: var(--text-size) ;
    margin-top: 30px;
    margin-bottom: 30px;  
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: justify;
    overflow: hidden;
    transition: all 0.2s ease;
}
.app__daotao-sinhvien-content h3:hover {
    color: var(--primary-color);
    cursor: pointer;
}
.app__daotao-sinhvien-content
{
    padding: 0px 20px ;
}

.app__daotao-sinhvien-poster {
    position: relative;
    background-color: #454d75;
    transition: all 0.5s ease;
}
.app__daotao-sinhvien-poster:hover{
    cursor: pointer;
}

.app__daotao-sinhvien-poster-title1 h3 {
    text-align: center;
    color: var(--white-color);
    font-weight: lighter;
    font-size: 30px;
    margin-top: 70px;
}
.app__daotao-sinhvien-poster-title2 h3 {
    color: var(--white-color);
    font-size: 30px;
    margin-top: 30px;
    font-weight: lighter;
}
.app__daotao-sinhvien-poster-title2 {
   padding: 0px 50px ;
   margin-bottom: 30px;
}

.app__daotao-sinhvien-button {
    text-align: center;
    margin: 20px;
    
}
.app__daotao-sinhvien-button h3 {
    padding: 2px 2px;
    background-color: #d9d9d9;
    font-size: var(--text-size);
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s ease;
}


.app__daotao-sinhvien-poster-focus{
    padding: 10px 10px ;
    text-align: center;
    border-radius: 20px;
    background-color: #fabd05;
    width: 240px;
    margin: 0 auto;
    margin-bottom: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.app__daotao-sinhvien-poster-focus a{
    font-size: 16px;
}
.app__daotao-sinhvien-poster-focus:hover{
    transform: scale(1.05);
}


.app__daotao-sinhvien-poster-alert{
    padding: 6px 8px ;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    width: 180px;
    margin: 0 auto;
    margin-bottom: 35px;
    border: 3px solid #ababab;
}
.app__daotao-sinhvien-poster-alert a{
    font-size: 16px;
}
.app__daotao-sinhvien-poster-alert:hover{
    transform: scale(1.05);
}