/* banner */
.app_banner{
    position: relative;
}
.app_banner img{
    width: 100%;
    z-index: -1;
}
#app_banner-title{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: linear-gradient(180deg, transparent, black);
}
#app_banner-title-link{
    margin-left: 10%;
}
#app_banner-title-link a, span{
    font-size: 25px;
    text-decoration: none;
    color: white;
}
@media screen and (max-width:1536px){
    #app_banner-title-name{
        font-size: 50px;
    }
}
@media screen and (max-width:800px) {
    #app_banner-title-link a, span{
        font-size: 17px;
    }
    #app_banner-title-name{
        font-size: 20px;
    }
}
#app_banner-title-link a:hover{
    opacity: 0.7;
}
#app_banner-title-name{
    
    color: white;
    font-weight: bold;
    margin-left: 10%;
    margin-bottom: 5%;
}


body{
    scroll-behavior:inherit;
}
.nav{
    font-size: 97px;
    display: flex;
    justify-content: center;
    /* margin: 6vw 6vw; */
    /* font-weight: bold; */
    text-align: center;
    color: #0065ca;
    /* text-align: center; */
flex-direction: row;
/* flex-wrap: wrap; */
align-self: center;
}

.box-eng{
    background-color: rgb(247, 245, 245);
    margin-left: 6vw;
    margin-right: 85vw;
}


.grp{
    font-size: 14px;
    margin-top: 6vw;
    margin-left: 2.5vw;
    font-weight: bold;

}

.date{
    font-size: 17px;
    margin: 6vw 6vw;
    
}

.XemThem{
    font-size: 24px;
    margin-left: 4vw;
   
    
}

.wraper2{
    display: flex;
    background-color: #4f4f4f;
    height: 120;
    margin-top: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
    justify-content: center;
    
}
.wraper21:hover{
    cursor: pointer;
    background-color: #fabd05;
}
.wraper21{
    padding: 1px 1px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    Border: 1px solid white; 
}

.element{
    font-size: 15px;
    color: white;
    justify-content: center;
    border-color: #d9d9d9;
    border-radius: 5px;
}


.complain{
    font-size: 17px;
    margin-left: 4vw;
    margin-top: 3vw;
    
}
.app__daotao-sinhvien-poster-complain{
    padding: 10px 10px ;
    text-align: center;
    border-radius: 20px;
    background-color: #fabd05;
    width: 240px;
    margin-top: 16px;
    margin-left: 4vw;
    margin-bottom: 40px;
}

.article{
    font-size: 17px;
    margin: 2.5vw 6vw;
    
}

.wraper1{
    background-color: lightgrey;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 1px;
}



.anh{
    width: 85.9846342682765872465vw;
    margin:  0vw 6vw ;
}

.article2{
    font-size: 17px;
    margin: 2.5vw 6vw;
}

.hr{
    margin-left: 5%;
    width:90%;
}


/* daotao-sinhvien */


.app__daotao-sinhvien {
    padding: 50px 0;
    position: relative;
}
#app__daotao-sinhvien-backgroundImg{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -999;
    filter: blur(10px);
}
.app__daotao-sinhvien-wrapper {
    display: flex;
    justify-content: space-between;
}
@media screen and (min-width:960px){
    .app__daotao-sinhvien-item, .app__daotao-sinhvien-poster{
        width: 24%;
        margin: 0 px;
    }
}

@media screen and (max-width:960px) {
    .app__daotao-sinhvien-wrapper{
        flex-direction: column;
    }
    .app__daotao-sinhvien-item, .app__daotao-sinhvien-poster{
        width: 90%;
        margin-left: 10%;
        margin-top: 5%;
    }
    .app__daotao-sinhvien-shadow{
        display: none;
    }
}

.app__daotao-sinhvien-item {
    position: relative;
    
    background-color: white;
    transition: all 0.5s ease;
}
.app__daotao-sinhvien-shadow{
    width: 260px;
    height: 423px;
    top: 2%;
    left: 3%;
    background-color: rgba(153, 153, 153, 0.445);
    position: absolute;
    z-index: -99;
}
.app__daotao-sinhvien-item:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.app__daotao-sinhvien-item:hover .app__daotao-sinhvien-content h3{
    color: var(--primary-color);
    cursor: pointer;
}
.app__daotao-sinhvien-text {
    margin-bottom: 50px;
    text-align: center;
}

.app__daotao-sinhvien-text h2 {
    font-size: var(--title-size);
    text-decoration: none;
    border-bottom: 4px solid var(--primary-color);
    padding: 0 0 10px;
    color: var(--primary-color);

}
 
.app__daotao-sinhvien-img img {
    width: 100%;
    height: 200px;
}

.app__daotao-sinhvien-content h3{
    font-size: var(--text-size) ;
    margin-top: 30px;
    margin-bottom: 30px;  
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: justify;
    overflow: hidden;
    transition: all 0.2s ease;
}

.app__daotao-sinhvien-content
{
    padding: 0px 20px ;
}

.app__daotao-sinhvien-poster {
    position: relative;
    background-color: #454d75;
    transition: all 0.5s ease;
}
.app__daotao-sinhvien-poster:hover{
    cursor: pointer;
}

.app__daotao-sinhvien-poster-title1 h3 {
    text-align: center;
    color: var(--white-color);
    font-weight: lighter;
    font-size: 30px;
    margin-top: 70px;
}
.app__daotao-sinhvien-poster-title2 h3 {
    color: var(--white-color);
    font-size: 30px;
    margin-top: 30px;
    font-weight: lighter;
}
.app__daotao-sinhvien-poster-title2 {
   padding: 0px 50px ;
   margin-bottom: 30px;
}

.app__daotao-sinhvien-button {
    text-align: center;
    
    
}
.app__daotao-sinhvien-button h3 {
    padding: 2px 2px;
    background-color: #d9d9d9;
    font-size: var(--text-size);
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s ease;
}
